.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1rem;
  margin-top: 0.5rem;
}